* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #b51568;
  --color-main: #ee4758;
  --color-dark-gray: #777777 ;
  --color-search: #DFFF00;
  --color-tertiary: #4b145b;
  --color-top-bottom: #6c0239;
  --color-gray: #e7e7e7;
  --color-light: #efefef;
  --color-price: #1c1c1b;
  --color-green: #0bda51;
  --color-mustard: #ffbf00;
}

body {
  font-family: 'Rubik', sans-serif;
}
  /* Utilities */
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-5{
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.yellow-300{
  color: #FFF176;
}
.red-400{
  color: #F43336;
}
.border-bottom {
  border-bottom: 1px solid rgba(0,0,0, 0.25);
}
.card-wrapper {
  background-color: #fafaff;
  background-image: linear-gradient(334deg, #fafaff 0%, #f0f0f0 66%, #ffffff 100%);
  box-shadow: 0 0 10px #0000004b;
  padding: 15px;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}
.bttn {
  padding: 10px 15px;
  background-color: #080157cb;
  font-size: 14px;
  font-weight: 400;
}
.bttn:hover {
  background-color: #0e028fcb;
}

/* Header */
.header-top-strip {
  background-color: var(--color-top-bottom);
  border-bottom: 1px solid var(--color-tertiary);
}

.header-upper {
  background-color: var(--color-main);
}

.header-upper .input-group-text {
  background-color: var(--color-search);
}

.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-primary);
}

.header-bottom .menu-links a , .header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-top-bottom);
  width: 100%;
  
  transform: translate3d(0px,30px,0px) !important; 
}

.header-bottom .dropdown-menu .dropdown-item:hover {
  background-color: var(--color-tertiary);
}

  /* Footer */

.footer-first, .footer-second {
  background-color: var(--color-primary);
}

.footer-top img{
  background-color: transparent;
}

.input-group-text {
  background-color: var(--color-tertiary);
  padding: 10px 10px 10px 0px;

}
.footer-third {
  background-color: var(--color-top-bottom);
  border-top: 1px solid white;
}

  /* HOMEPAGE */

/* Home-Wrapper-1 */
.banner-content {
  top: 5%;
  left: 55%;
}

.small-banner-content {
  top: 10%;
  left: 7%;
}

/* Home-Wrapper-2 */
.home-wrapper-2 {
  background-color: var(--color-gray);
}

/* Home-Wrapper-3 */
.home-wrapper-3 {
  background-color: var(--color-light);
}

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 10px;
}

.categories > div {
  width: 25%; 
  padding: 10px 10px 10px 20px; 
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-gray);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-gray);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-gray);
}

/* Blog Card */
.blog-card {
  background-color: whitesmoke;
  border-radius: 15px;
}
.blog-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.blog-content {
  padding: 15px;
}

.blog-content .date {
 font-size: 14px;
 line-height: 24px;
 text-transform: uppercase;
 letter-spacing: 0;
 font-weight: 400;
 color: var(--color-dark-gray);
 padding: 0;
}

.blog-content .desc {
  font-size: 12px;
  line-height: 22px;
  color: var(--color-dark-gray);
}
.single-blog-card a {
  font-size: 18px;
  color: var(--color-dark-gray);
  margin-bottom: 20px;
}
.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-price);
}
.single-blog-card p {
  color: var(--color-dark-gray);
  font-size: 14px;
}

/* Product Card */
.product-card {
  padding: 15px;
  width: 97%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(254, 252, 253) 0.1%, rgba(249, 245, 248, 0.795) 90.1% );
  border-radius: 15px;
  overflow: hidden;
  margin: 0 5px 20px 5px;
}

.product-card .product-image img {
  object-fit: contain;
  height: 110px;
}


.product-card .product-image > img:last-child {
  display: none;
}

.product-card .product-image-block > img:last-child {
  display: none;
}

.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image-block > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image > img:last-child {
  display: flex;
}

.product-card:hover .product-image-block > img:last-child {
  display: flex;
}

.product-card .product-details h6 {
  color: var(--color-main);
  font-size: 14px;
}

.product-card .product-details h5 {
  font-size: 16px;
  color: black;
}

.product-card .product-details p {
  font-size: 15px;
  color: var(--color-price);
}
.product-card p.description {
  font-size: 13px;
  color: var(--color-dark-gray);
}
.side-bar {
  top: 14%;
  right: -23px;
  transition: 0.4s;
}

.product-card:hover .side-bar {
  right: 10px;
}

.wishlist-icon {
  top: 2%;
  right: 11px;
}

/* Special Product Card */
.special-product-card {
  padding: 20px 10px;
  border-radius: 5px;
  background-color: white;
}

.special-product-content {
  padding-left: 8px;
}

.special-product-content h5 {
  color: var(--color-main);
  font-size: 14px;
}

/* Smart Product Card */
.smart-card .smart-content {
  top: 10%;
  left: 10%;
}

.smart-card img {
  border-radius: 10px;
}

.smart-content h5 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400px;
  color: white;
  margin-bottom: 7px;
}

.smart-content h6 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500px;
  color: white;
}

.smart-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200px;
  color: white;
}

/* STOREPAGE */

/* Store Section */
.filter-card {
  background-color: white;
  border-radius: 15px;
  padding: 15px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-price);
  margin-bottom: 12px;
}

.filter-card ul, .filter-card .form-check-label {
  list-style-type:none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-dark-gray);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0,0,0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: var(--color-green);
  border-color: var(--color-green)
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-price);
  margin-bottom: 10px;
  margin-top: 10px;
}
.colours {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.colours li {
  width: 20px;
  height: 20px;
  margin: 0px 4px;
  background-color: red;
  border-radius: 50%;
}

.random-product .image-width-1 {
  width: 120px;
}
.random-product:nth-child(1), .random-product:nth-child(2) {
  border-bottom: 1px solid var(--color-gray);
} 

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

.grid-img img {
  width: 35px;
  height: 35px;
  background-color: var(--color-light);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.col-6 .product-card {
  display: flex;
  gap: 10px;
  width: 98%;
}

.col-12 .product-card {
  display: flex;
  gap: 10px;
  width: 99%;
}

.col-6 .product-card .product-image {
  width: 110px;
}

.col-12 .product-card .product-image {
  width: 270px;
}

.col-12 .side-bar {
  top: 18%;
}

/* CONTACTPAGE */

/* Contact Us Page */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-image: radial-gradient( circle farthest-corner at 10% 40%,  rgb(253, 252, 253) 0.1%, rgba(249, 250, 248, 0.815) 80.1% );
  gap: 15px;
}

.contact-inner-wrapper > div {
  width: 48%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
}

.contact-inner-wrapper form .form-control{
  background-color: #f6f6f7;
  border-radius: 15px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper .contact-li, .contact-inner-wrapper .contact-li a {
  color: var(--color-dark-gray);
}

/* COMPARE PRODUCTS PAGE */

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 15px;
}
.compare-product-card .cross {
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 25px;
  padding: 3px;
}

.compare-product-details h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-price);
}
.compare-product-details h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-dark-gray)
}
.compare-product-details .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-gray);
}

.compare-product-details .product-detail p {
  color: var(--color-dark-gray);
}

/* WISHLIST PAGE */

.wishlist-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 15px;
}
.wishlist-card .cross {
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 25px;
  padding: 3px;
}
.wishlist-details h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-price);
}
.wishlist-details h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-dark-gray)
}

/* SIGN IN PAGE / SIGN UP PAGE / FORGOT PASSWORD PAGE */

.auth-card {
  padding: 30px 20px;
  background-color: #fafaff;
  background-image: linear-gradient(334deg, #fafaff 0%, #f0f0f0 66%, #ffffff 100%);
  width: 400px;
  margin: 30px auto;
  border-radius: 15px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-dark-gray);
}
.auth-card p {
  font-size: 13px;
  color: var(--color-dark-gray);
}
.auth-card .form-control {
  height: 50px;
  background-color: #f5f5f7;
  color: var(--color-dark-gray);
  font-size: 14px;
  border-radius: 15px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-price);
}
.signup {
  background-color: var(--color-mustard);
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  border: none
}
.signup:hover {
  background-color: #ecb101;
}

/* POLICY PAGES */
.policy {
  background-color: white;
  padding: 30px;
}

/* MAIN SINGLE PRODUCT PAGE */
.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}
.main-product-image > div {
  border: 1px solid rgba(0,0,0, 0.25);
}
.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}
.main-product-image .js-image-zoom__zoomed-image {
  left: 81px !important;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  z-index: 100;
}
.main-product-details {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}
.main-product-details h4.price {
  font-size: 18px;
  color: var(--color-main)
}
.main-product-details a {
  font-size: 15px;
  color: var(--color-dark-gray);
}
.main-product-details h3.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-price);
}
.main-product-details a.review-btn, .t-review {
  color: var(--color-dark-gray);
  font-size: 15px;
}
.product-heading {
  font-size: 15px;
  color: var(--color-price);
  margin-bottom: 0px;
}
.product-data {
  font-size: 14px;
  color: var(--color-dark-gray);
  margin-bottom: 0px;
}
.adjacent-product-images {
  background-color: white;
  padding: 20px;
}
.adjacent-product-images > div {
  border: 1px solid rgba(0,0,0, 0.25);
  padding: 20px;
  width: 48%;
}

.description-wrapper h4, .reviews-wrapper h3 {
  font-size: 26px;
  color: var(--color-price);
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--color-dark-gray);
}
.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-price);
}
.review-head p, .review-head a {
  font-size: 14px;
  color: var(--color-dark-gray);
}
.review-form {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-dark-gray);
  padding-bottom: 5px;
}
.review {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin: 0px;
}
.review p {
  font-size: 14px;
  color: var(--color-dark-gray);
}